@font-face {
  font-family: 'DIGIT LCD';
  src: url('./assets/font/DIGIT-LCD.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Dosis', sans-serif;

  font-weight: 400;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.calc-body {
  width: 380px;
  height: 350px;
  border: 15px solid rgb(54, 90, 134);
  border-radius: 10px;
  background-color: rgb(54, 90, 134);
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.calc-display {
  background-color: rgba(51, 240, 89, 0.366);
  width: 100%;
  height: 100px;
  padding: 3px 10px;
  border: 15px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 30px;
}

.calc-display input {
  font-size: 38px;
  font-weight: 700;
  width: 100%;
  background-color: #ffffff00;
  border: none;
  outline: none;
  text-align: right;
  color: black;
  /* max-width: 351px; */
}

.calc-specials {
  display: flex;
  justify-content: flex-end;
}

.calc-keyboard {
  display: flex;
  justify-content: center;
  gap: 20px;

}

.calc-btns-block {
  width: 150px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.calc-math-block {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: flex-end; */
}

.calc-btn,
.calc-spec,
.calc-maths,
.calc-enter {
  width: 50px;
  height: 50px;
  background-color: rgb(153, 146, 146);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  border-radius: 10px;
  /* border-right: 3px solid rgba(0, 0, 0, 0.674); */
  /* border-left: 3px solid rgba(0, 0, 0, 0.674); */
  /* border-bottom: 4px solid rgba(0, 0, 0, 0.674); */
  border: 4px solid rgba(0, 0, 0, 0.674);

  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.524);
  cursor: pointer;
  transition: all 0.1s ease;
}

.plus,
.calc-enter {
  height: 100px;
}

.double {
  width: 100px;
}

.calc-btn:active,
.calc-maths:active,
.calc-spec:active,
.calc-enter:active {
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.262);
  scale: .96;
}

@media (max-width:400px) {
  body {

    padding: 0px;
  }

  .calc-body {
    border: none;
    padding: 20px;
    background-color: #000000;
  }

  .calc-display {
    height: 300px;
    margin-bottom: 70px;
    background-color: #000000;
  }

  .calc-display input {
    /* font-size: 60px; */
    color: #fff;
  }

  .calc-body {
    /* height: 350px; */
    /* height: 580px; */
    height: 100vh;
  }

  .calc-keyboard {
    flex-direction: column;
    position: relative;
    color: #fff;

  }


  .calc-btns-block {
    width: 230px;
    margin-top: 60px;
    gap: 5px;
  }

  .calc-btns-block div {
    background-color: #292929;
    color: #fff;
    border: none;
    box-shadow: none;
  }

  .calc-math-block {
    width: 0;
    height: 0;

  }

  .calc-math-block div {
    position: absolute;
    background-color: #464646;
    border: none;
    box-shadow: none;

  }

  .remove {
    top: -15px;
    left: 10px;
  }

  .proc {
    top: -15px;
    left: 85px;
  }

  .dot {
    top: -15px;
    left: 160px;
  }

  .divid {
    top: -15px;
    left: 235px;
  }

  .mult {
    top: 60px;
    left: 235px;
    font-size: 70px;
    padding-bottom: 15px;
    padding-left: 2px;
    font-weight: 100;
  }

  .minus {
    top: 135px;
    left: 235px;
    font-size: 50px;
    font-weight: 100;
    padding-bottom: 10px;
  }

  .plus {
    top: 210px;
    left: 235px;
    font-size: 50px;
    font-weight: 100;
    padding-bottom: 10px;
  }

  .calc-enter {
    top: 285px;
    left: 235px;
    font-size: 50px;
    font-weight: 100;
    padding-bottom: 10px;
    background-color: rgb(255, 136, 0) !important;
  }

  .bracket {
    display: none;
  }

  .calc-math-block div {
    width: 70px;
    height: 70px;
  }

  .calc-btn,
  .calc-spec,
  .calc-maths,
  .calc-enter {
    border-radius: 100%;
    width: 70px;
    height: 70px;
  }

  .calc-btn:active,
  .calc-maths:active,
  .calc-spec:active,
  .calc-enter:active {

    scale: .9;
  }

  .double {
    /* width: 140px; */
  }
}