@font-face {
  font-family: 'DIGIT LCD';
  src: url('./assets/font/DIGIT-LCD.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Dosis', sans-serif;

  font-weight: 400;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.calc-body {
  width: 380px;
  height: 450px;
  border: 15px solid rgb(54, 90, 134);
  border-radius: 10px;
  background-color: rgb(54, 90, 134);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calc-display {
  background-color: rgba(51, 240, 89, 0.366);
  width: 100%;
  height: 100px;
  padding: 3px 10px;
  border: 15px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  margin-bottom: 10px;
}

.calc-display input {
  font-size: 38px;
  font-weight: 700;
  width: 100%;
  background-color: #ffffff00;
  border: none;
  outline: none;
  text-align: right;
  color: black;
  /* max-width: 351px; */
}

.calc-specials {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.calc-keyboard {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 10px;

}

.calc-keyboard div,
.calc-specials div {
  width: 50px;
  height: 50px;
  background-color: rgb(153, 146, 146);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  border-radius: 10px;
  /* border-right: 3px solid rgba(0, 0, 0, 0.674); */
  /* border-left: 3px solid rgba(0, 0, 0, 0.674); */
  /* border-bottom: 4px solid rgba(0, 0, 0, 0.674); */
  border: 4px solid rgba(0, 0, 0, 0.674);

  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.524);
  cursor: pointer;
  transition: all 0.1s ease;
}

.calc-btn:active,
.calc-maths:active {
  box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.262);
  scale: .96;
}

@media (max-width:500px) {

  .calc-body {
    height: 520px;
    gap: 10px;
  }

  .calc-specials {
    gap: 5px;
  }

  .calc-keyboard {

    gap: 5px;
  }

  .calc-keyboard div,
  .calc-specials div {
    scale: .7
  }

  .calc-btn:active,
  .calc-maths:active {

    scale: .86;
  }
}